Flask
flask-cors
python-dotenv

langchain
langchain-core
langchain-community
langchain-google-genai

sentence-transformers
transformers
faiss-cpu

pypdf
google-generativeai

tqdm
filetype
unstructured
python-docx
filetype

unstructured
python-docx
pypandoc
filetype
